@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
    overflow-x: hidden;
}

.main-login{
    width: 100vw; /* vw: porcentagem da largura da tela do dispositivo */
    height:100vh; /*height*/
    background-color: #ffffff;
    display: flex; /* faz que os objetos ficam de lado ao lado */
    justify-content: center ;
    align-items: center;
}


.card-login{
    margin: auto;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px ;
    background: #2f2841;
    border-radius: 20px;
    position: relative;
    left: 0px;
    top: 6px;
}

.card-login >h1{
    color: #ffffff;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}
.textfield >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding:15px;
    background: #514869;
    color: #f0ffffde ;
    font-size: 12pt;
    box-sizing: border-box;

}

.textfield > label{
    color: #ffffffde;
    margin-bottom:10px ;

}

.textfield > input::placeholder{
    color: #f0ffff94;

}

.btn-login {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 12px;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #Ffffff;
    font-size: 20px;
}

.btn-login:hover{
    background-color: #ffffffff;
    color: #0abb65;
    transition: 0.5s ease;
}

.left_image{
    width: 35vw;
    position: relative;
    top: -30px;
    left: 0px;

}
.criar_conta{
    text-decoration: none;
    color: #ffffff;
    padding-left: 1.5em;
}

.criar_conta:hover {
    color: #0abb65;
}

